body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}



.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    
    font-weight: 500;
    font-size: 16px;
}

.navbar__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.navbar__logo > img {
    width: 50px;
    
}
.navbar__menu {
    
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.navbar__menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 2rem;
    color: #374151;
    cursor: pointer;
    flex-direction: column;
}

.navbar__menu > li > div {

    background-color: transparent;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.navbar__menu > li > a {
    color: #374151;
    text-decoration: none;
    flex-direction: column;

    text-transform: capitalize;
    font-weight: 500;


}

.navbar__menu > li > a:hover {
    color: #3c8ffc;
    text-decoration: none;
    flex-direction: column;

    text-transform: capitalize;
    font-weight: 500;

    
}

.navbar__menu > li:hover > div {
    background-color: #3c8ffc;
   
}





